// fonts
$font-stack: "Courier New", Courier, monospace;
// colors
$primary: #333;
$secondary: #234;
$bg: #CCC;
$red: #D22;
$test: #CAD;

// semi-sensible defaults
html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $primary;
  background-color: $bg;
}

body {
  font-size: 1.4rem;
  font-family: $font-stack;
  padding: 3rem;
}
