// fonts
$font-stack: "Courier New", Courier, monospace;
// colors
$primary: #333;
$secondary: #234;
$bg: #CCC;
$red: #D22;
$green: #1B1;
$highlight: #DDD;

// semi-sensible defaults
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  color: $primary;
  background-color: $bg;
  overflow: hidden;
}

body {
  padding: 2rem 3rem 1rem;
  font-family: $font-stack;
  font-size: 1.5rem;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.5rem;
}
h4 {
  font-size: 3rem;
}
h5 {
  font-size: 2.5rem;
}
h6 {
  font-size: 2rem;
}

a {
  color: $secondary;
  &:visited {
    color: $secondary;
  }
}

ul {
  margin-top: 1rem;
  padding-left: 1rem;
  list-style-type: none;
}

pre {
  font-size: 1.3rem;
}

footer {
  position: absolute;
  text-align: center;
}

// classes
// layout
.box {
  display: block;
  margin: 1.5rem auto 0;
}
.row {
  display: inline-block;
  width: 100%;
}
.lcol, .rcol {
  display: block;
  margin: 1.5rem auto 0;
}
.wide, .thin {
  height: 79vh;
}
// helpers
.breakable {
  word-wrap: break-word;
}
.first {
  margin-top: 0;
}
.highlight {
  background-color: $highlight;
}
.indent {
  margin: 0;
  padding-left: 1rem;
}
.overflow {
  overflow: scroll;
}
.padded {
  padding: 1rem;
}
.spacing {
  margin-top: 1rem;
}
// colors
.green {
  color: $green;
}
.red {
  color: $red;
}

// large screens
@media (min-width: 600px) {
  // layout
  .lcol {
    margin-right: 1rem;
    float: left;
  }
  .rcol {
    margin-left: 1rem;
    float: right;
  }
  .wide {
    width: 67%;
  }
  .thin {
    width: 21%;
  }
  // helpers
  .indent {
    padding-left: 2rem;
  }
}
@media (min-width: 750px) {
  .wide {
    width: 67%;
  }
  .thin {
    width: 24%;
  }
}
@media (min-width: 900px) {
  ul {
    padding-left: 2rem;
  }
  .wide {
    width: 72%;
  }
  .thin {
    width: 20%;
  }
}
@media (min-width: 1050px) {
  .wide {
    width: 72%;
  }
  .thin {
    width: 21%;
  }
}
@media (min-width: 1200px) {
  .wide {
    width: 76%;
  }
  .thin {
    width: 18%;
  }
}
