extends layout/ui_box

block box
  h3 MAPPER is
  .spacing
    h6 a visualization of all the places you've gone.
  .spacing
    h6 easy to use.
    p.indent
      | To upload your location, simply send a location-based Yo to MAPPER on the Yo app.
      | Keep in mind, you'll need to #[a(href='/register') register] before uploading your first location to MAPPER.
  .spacing
    h6 informative for all.
    p.indent
      | Although registration is required to upload data, 
      | anyone can browse previously-uploaded data here on this site.
      | Location data can be examined as a whole or by user and is presented chronologically, newest to oldest.
  .spacing  
    h6 is #[a(href='//github.com/thekelvinliu/mapper') open source].
    p.indent
      | This project was built and developed using #[a(href='//npmjs.com/package/generator-espress') generator-espress].
      | It is powered by node, mongodb, the Yo developer API, and the GoogleMaps Javascript API, among others.
      | Built on a ✈️ with ❤️ by #[a(href='//thekelvinliu.com/') Kelvin Liu].
