extends layout/ui_main

block sidebar
  if users
    h4 Users:
    ul#user-list
      each user in users
        li
          a(href=`${user}`)= user
  else
    h4 Locations:
    #location-list

block scripts
  script.
    var locations = !{locations};
  script(src='js/map.js' defer)
  script(src='//maps.googleapis.com/maps/api/js?key=AIzaSyD_RaaepRyCefFdgq1cR8UOsipwC5ctkiA&callback=mapMain' defer)
