extends layout/ui_box

block head

block box
  h3 Enter your Yo account below:
  div
    input(type='text' default='KLIU78')
    span.green success!
  p Now get out there, and send your locations to MAPPER on the Yo app!



//- users enter account
//- post to backend, add account to users database
//- render a new register page saying successful
