extends layout/ui_box

block box
  if (success)
    h3.green Success!
  else
    h3 Enter your Yo account below:
    input(type='text')
    p Now get out there, and send your locations to MAPPER on the Yo app!



//- users enter account
//- post to backend, add account to users database
//- render a new register page saying successful
