extends layout/ui_main

block sidebar
  h4 Coords:
  ul.user-list
    each coord in data
      li= ['(', coord.lat, ', ', coord.lng, ')'].join('')

block scripts
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD_RaaepRyCefFdgq1cR8UOsipwC5ctkiA&callback=initMap' async defer)
  script(src='/js/map.js' async defer)
