extends layout/ui_main

block sidebar
  h4 Locations:
  ul.location-list
    each loc in JSON.parse(locations)
      li
        = loc.toponymName
        br
        = ['(', loc.lat, ', ', loc.lng, ')'].join('')

block scripts
  include components/map_scripts
  script(src='/js/users.js' defer)
