extends layout/ui_main

block sidebar
  h4 Coords:
  ul.location-list
    each loc in locations
      li= ['(', loc.lat, ', ', loc.lng, ')'].join('')

block scripts
  script(src='/js/map.js' defer)
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyD_RaaepRyCefFdgq1cR8UOsipwC5ctkiA&callback=initMap' defer)
