doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title
      | MAPPER
      if (title != 'mapper')
        | //
        = title
    meta(name='description' content='a visualization of all the places you\'ve gone')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/css/main.css')
    block head
  body
    #header.first.row
      .lcol
        h1.name
          a(href='/') MAPPER
          if (title != 'mapper')
            span.details
            | //
            = title
      .rcol
        h6
          a(href='/about') about
          | |
          a(href='/register') register
    .row
      block body
  block scripts
